<form class="form">
  <span class="label">{{ buildTranslationKey('status') | translate }}</span>

  <app-dropdown
    [formControl]="statusControl"
    [name]="buildTranslationKey(todo.status)"
    [options]="options"
    [statusClass]="statusClass">
  </app-dropdown>

  <span class="label">{{ buildTranslationKey('createdAt') | translate }}</span>

  <span class="date">
    <img
      src="./assets/icons/calendar.svg"
      [alt]="buildTranslationKey('altForIcon') | translate">
      {{ todo.createdAt | date }}
  </span>

  <app-editable-field
    [value]="todo.title"
    [label]="buildTranslationKey('titleLabel') | translate"
    (confirm)="setTitle($event)">
  </app-editable-field>

  <app-editable-field
    [value]="todo.description"
    [label]="buildTranslationKey('descriptionLabel') | translate"
    (confirm)="setDescription($event)">
  </app-editable-field>

    <button class="btn btn-pin" (click)="togglePinned()">
      <img
        [src]="todo.isPinned ? './assets/icons/pin-filled.svg' : './assets/icons/pin-unfilled.svg'"
        [alt]="buildTranslationKey('altForIcon') | translate">
    </button>

    <button class="btn btn-delete" (click)="delete(todo.id)">
      <img src="./assets/icons/delete.svg" [alt]="buildTranslationKey('altForIcon') | translate">
    </button>
</form>
