<span class="label">{{ buildTranslationKey('status') | translate }}</span>
<span class="info todo-status {{ Status[todo.status] }}">{{ buildTranslationKey(todo.status) | translate }}</span>

<span class="label">{{ buildTranslationKey('createdAt') | translate }}</span>
<span class="date info"><img alt="calendar icon" src="assets/icons/calendar.svg">{{ todo.createdAt | date }}</span>

<span class="label">{{ buildTranslationKey('title') | translate }}</span>
<span class="info">{{ todo.title }}</span>

<span class="label">{{ buildTranslationKey('description') | translate }}</span>
<span class="info">{{ todo.description }}</span>

<button (click)="togglePin(todo)" class="btn btn-pin">
  <img
    [alt]="buildTranslationKey('altForPinIcon') | translate"
    [src]="todo.isPinned ? 'assets/icons/pin-filled.svg' : 'assets/icons/pin-unfilled.svg'">
</button>

<button (click)="delete(todo.id)" class="btn btn-delete">
  <img [alt]="buildTranslationKey('altForDeleteIcon') | translate" src="assets/icons/delete.svg">
</button>
