<label class="label">
  <p>{{ buildTranslationKey(label) | translate }}</p>

  <p *ngIf="!fieldControl; else input" role="button" (click)="enableEditing()">
    {{ value }}
  </p>
</label>

<ng-template #input>
  <app-text-input [formControl]="fieldControl" [placeholder]="placeholder"></app-text-input>

  <button (click)="cancel()">
    <img [alt]="buildTranslationKey('altForIcon') | translate" src="./assets/icons/close.svg">
  </button>

  <button (click)="save()" [disabled]="!hasChanges">
    <img [alt]="buildTranslationKey('altForIcon') | translate" src="./assets/icons/done.svg">
  </button>
</ng-template>
