<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <button class="btn btn-close" type="button" (click)="cancel()">
    <img src="./assets/icons/x.svg" [alt]="buildTranslationKey('altForCloseButton') | translate">
  </button>

  <app-text-input
    formControlName="title"
    [placeholder]="buildTranslationKey('titlePlaceholder') | translate"
    [errorMassage]="buildTranslationKey('requiredErrorMassage') | translate">
  </app-text-input>

  <app-text-input
    formControlName="description"
    [placeholder]="buildTranslationKey('descriptionPlaceholder') | translate"
    [errorMassage]="buildTranslationKey('requiredErrorMassage') | translate">
  </app-text-input>

  <button class="btn btn-ok" [disabled]="form.invalid">
    {{ buildTranslationKey('addButtonTitle') | translate }}
  </button>
</form>
